*{
    font-family: 'Work Sans', sans-serif;
}

/*Header section*/
    header{
        background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
    }
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.navbar > ul{
    display: flex;

}
.navbar li{
    margin-right: 30px;
    list-style: none;
}
a{
    text-decoration: none;
    color: #424242;

}
.navbar h2{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
    
}
.header-mitu{
    text-align: center;
}
.header-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.para{
    color: #727272;
    font-size: 1.25rem;
}
.primary{
    border-radius: 8px;
    color: #FFF;
    font-size: 1.25rem;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    cursor: progress;
    border: 0;
    

}
.header-mitu img{
    width: 100%;
    margin-top:50px ;
}

/* header section end*/

/* Feature section strat*/

.feature{
    display: flex;
    align-items: center;
    gap: 80px;
    padding: 50px 0px;
}
.feature-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
.quick{
    font-size: 2.8rem;
    font-weight: 500;

    color: #727272;
}
.of{
    font-size: 2.8rem;
    font-weight: bold;
}
.feat{
    font-size: 2.8rem;
    color: #FF900E;
}
/* media query  for moblie device */

@media screen and (max-width: 576px) {
    header{
        padding:20px
    }
    .navbar{
        flex-direction: column;
    }
    
    .feature{
        flex-direction: column-reverse;
    }
    .feature-image{
        grid-template-columns: 1fr;
}

}


/* media query for tablet or medium device*/

@media screen and (min-width: 576px) and (max-width: 960px) {
    
    header{
        padding: 20px;
    }
    .navbar{
        flex-direction: column;
    }
    .feature{
        flex-direction: column-reverse;
    }
}